.footer {
  width: 100%;
  height: 120px;
  margin-top: 80px;
  background-color: blue;
  position: relative;
}
.footer__social {
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: center; 
}
.footer__copyright {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: white;
}
  

/* .footer{
  background-color: #00008B;
  height: 80px;    
  color: #fff;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.footer h2, p{
  margin-top: 30px;
}

.footer p{
  font-size: 18px;
}

.redesSociais{
  display: flex;  
}

.redesSociais p{
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: inherit;
} */