.footer{
  background-color: #00008B;
  height: 80px;    
  color: #fff;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.footer h2, p{
  margin-top: 30px;
}

.footer p{
  font-size: 18px;
}

.redesSociais{
  display: flex;  
}

.redesSociais p{
  margin-left: 10px;
}